<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="id" placeholder="아이디" name="userid"/><br>
    <input type="text" id="pw" placeholder="비밀번호" name="userpw"/><br>
    <button type="submit" onclick="userlogin()">등록</button>
    <br><hr><br>


    <script>
        function userlogin() {
            const xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data)
                    console.log(data);
                    console.log(all.access_token);
                    alert("성공")
                    localStorage.setItem("jwt-auth-token", all.access_token);
                    location.href = "index.html"
                }
            };

            xhttp.open("POST", "login");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("userid=" + document.getElementById("id").value + "&userpw=" + document.getElementById("pw").value);
            
        }
    </script>
</body>
</html>